@import "componentes/variables.less";
@import "componentes/iconos.less";
@import "componentes/controles.less";
@import "componentes/generales.less";
@import "componentes/botones.less";
@import "componentes/header.less";
@import "componentes/listas.less";
@import "componentes/tablas.less";

*{
	font-family: 'Open Sans', sans-serif;
}
html{
	height: 100%;
}

body{
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;  
	overflow: hidden;
	height: 100%;
}
#content_main{
	position: relative;
	overflow:hidden;
	height: 100%;
}


.gif{
	display: none;
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999!important;
	text-align: center;
}
.gif img{
	position:relative;
	top: 50%;
	margin-top: -300px; /* minus half the height */
	
}

.page{
	width: 100%;
	overflow: auto;
	height: 100%;
	transition: all .7s ease 0s;
	.icon-back:before{
		font-size: 21px;
	}
}

.page_second, .page_secundary{
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 2;
	background-color: #FFFFFF;
}

.page-active{	

	left: 0!important;
	display: block;
}


.content_page{
	.olvido{
		text-align: center;
		color: red;
		display: block;
		color: #757575;
		font-size: 12px;
	}
}

.content_button{
	overflow: hidden;
	
}
#logo{
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 30px;
	text-align:center;
	width: 90%;
}

.btn_redes{
	font-size: 16px;
	font-weight: 600!important;
	
	border-radius: 3px;
	position: relative;
	text-align: center;
	padding: 12px 0px;
	
	.img{
		position: absolute;
		top: 9px;
		left: 9px;
	}

}

.politicas{
	font-size: 12px;
	font-weight: 400;
	color: @secundary_text;
	padding-bottom: 10px;
	a{
		color: @enlace;
	}
}


.menu-active{
	left: 0!important;
}


#menu_principal{
	position: absolute;
	top: 0px;
	z-index: 3;
	width: 270px;
	height: 100%;
	padding-bottom: 10px;
	background: #F2F2F2;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	left: -100%;
	overflow: auto;
	transition: all .7s ease 0s;
	#user{
		
		color: @text;
		height: 120px;
		background: @accent;
		margin-bottom: 10px;
		.icon{
			padding-left: 20px;
			padding-top: 15px;
		}
		h6{
			
			font-weight: 400;
			padding-left: 20px;
			font-size: 12px;
		}
		span{
			
			font-weight: 400;
			padding-left: 20px;
			font-size: 10px;
		}
	}
	ul{
		li{
			margin-left: 10px;
			list-style: none;
			position: relative;
			padding: 15px 0px 15px 50px;
			font-size: 13px;
			font-weight: 400;
			color: @primary_text;

			span{
				position: absolute;
				top: 12px;
				left: 5px;
				font-size: 25px;
			}
		}
	}
}
.oscuro{
	display: none;
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.mensaje_usuario{
	text-align: center;
	font-size: 13px;
	display: none;
}

.loader{
	display: block;
	text-align: center;
	img{
		width: 20px;
	}
}
//cartaaaa

.carta {
  // display: none;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #CCC;
  padding-bottom: 5px;
  overflow: hidden;

}
.carta h3 {
  padding: 20px 5px 0px 15px;
  font-size: 18px;
  font-weight: 400;
  color: #4d4d4d;

}
.carta p {
  padding: 10px 5px 10px 15px;
  font-size: 12px;
  font-weight: 300;
}
.carta a {
  padding: 0px 15px 0px 15px;
  display: block;
  color: #E91E63;
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
  font-weight: 500;
  text-decoration: none;
}

.carta span{
	width: 50%;
	display: block;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: @secundary_text;
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: 600;
	img{
		position: relative;
		top: 2px;
	}

}

#page_resultado .carta span{
	width: 100%;
	padding-top: 0px;
}

.gray_scale{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}	

.carta .eliminar{
	padding-right: 20px;
	text-align: right;
	color: #C9232B;
	
	
}
.carta .activado{
	padding-left: 20px;
	color: #597FBD;
}

.pregunta{
	padding: 10px 10px;
	background-color: #FFFFFF;
  	border-radius: 3px;
  	box-shadow: 0px 0px 3px #CCC;
  	h6{
  		color: @primary_text;
  		font-size: 12px;
  		font-weight: 600;
  		padding-bottom: 4px;
  	}
  	ul{
  		list-style: none;
  		li{
  			overflow: hidden;
  			
  			font-size: 11px;
  			color: @secundary_text;
  			margin-top: 10px;
  			padding-left: 5px;
  			div{
  				
  				float: left;
  				width: 5%;
  			}
  			
  			span{
  				
  				float: left;
  				top: 0px;
  				width: 90%;
  				// background-color: blue;
  				display: block;
  				padding-left: 5px;
  			}
  		}
  	}
}

#page_resultado{
	.perfil{
		text-align: center;
		margin-top: 30px;
		
		
		
	}
	.divider{
		border-top: 1px solid @primary;
	}

	h3{
		font-weight: 600;
		font-size: 16px!important;
		padding: 10px;
		background-color: #F2F2F2;
		color: @primary_text;
		border-bottom: 1px solid @primary;
	}
	p{
		position: relative;
		font-weight: 300;
		font-size: 14px!important;
		padding: 10px 10px 10px 30px;
		text-align: justify;
		img{
			position: absolute;
			top: 10px;left: 10px;
		}
	}

}

.label{
	margin: 0;
	font-size: 14px;
	color: @primary_text;
	padding-bottom: 5px;
	font-weight: 700;
}



ul.list_multi_label{
	

	li{
		position: relative;
		border-bottom: 1px solid #F2F2F2;
		list-style: none;
		padding: 5px 0px 5px 10px;
		h6{
			color: @primary_text;
			font-size: 12px!important;
		}
		p{
			color: @secundary_text;
			font-size: 12px;
		}
		span{
			color: @secundary_text;
			font-size: 11px;
			position: absolute;
			top: 5px;
			right: 10px;
		}
	}
	
}

#page_autoevaluacion{
	li{
		font-size: 13px;
		h6{
			font-size: 15px;
		}
	}
}

.caja{
	border: 2px solid @primary;
	border-radius: 7px;
	padding: 0px 5px;
	th{
		font-size: 13px;
		padding: 7px 0px;
		background-color: #F2F2F2;
	}
	td{
		font-size: 12px;
		padding: 7px 0px;
		border-bottom: 1px solid #f2f2f2;
		
	}

	&:last{
			border-bottom: none!important;
		}
	
}

.lista_cita{
	li{

		border-left: 4px solid @primary;
		border-bottom: 1px solid #CCC;
		padding: 7px 7px;

	}	

	.img{
		position:absolute;
		right:10px;
		width:70px;
		img{
			width:100%;border-radius:50%;
		}
	}

	h3{
		font-size: 14px;
	}
	p{
		font-size: 13px;
	}
	span{
		display: block;
		font-size: 12px;
	}
	a{
		padding-top: 10px;
		font-size: 11px;
		color:@primary;
		display: block;
		text-decoration: none;
	}
}

.text_vacio{
	text-align:center;
	color:#BDBDBD;
	padding-top:40px;
}

.msg-observacion{
	text-align: justify;
    font-size: 12px;
    padding: 10px;
    color: #757575;
}
 
#page_notas_detalle, #page_notas_doc_det{
	h1{
		background: @accent;
		color: white;
	    font-size: 14px;
	    text-align: center;
	    padding: 5px 0px;
	}
	p.desempeno{
		font-size: 12px;
		font-weight: bold;
		padding: 2px 0px 0px 5px;
	}
	table{
		td{
			font-size: 12px;
			padding: 5px 0px 0px 5px;
		}
		th{
			font-size: 12px;
			background: #f2f2f2;
		    text-align: left;
		    padding: 5px 0px 0px 5px;
		}
	}
}

.nota_perdida{
	color: #B71C1C;
}
.bg-1{
	background-color: #4DB6AC!important;
}

.overflow-h{
	overflow: hidden;
}


.busqueda_superior{
	overflow: hidden;
	background:#f2f2f2;
	padding:5px 10px;
	text-align:center;
	input[type="text"]{
		padding:5px;
		font-size:11px;
		border:none;
		width:80%;
		display: block;
		float: left;
		margin-left: 10px;
	}
	img{
		display: block;
		float: left;
		margin-left: 15px;
		margin-top: 3px;
	}
}

.tabla{
	margin:0 auto;
	width: 90%;
	border-collapse: collapse;
	th{
		background-color: #F2F2F2;
		padding: 3px;
		font-size: 13px;
	}
	td{
		padding: 3px;
		font-size: 12px;
	}
}

.tabla-azul{
	th{
		background-color: #448aff;
		color: white;
	}
}

.offline{
	top: 50px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 4;
	text-align: center;
	padding: 10px;
	background-color: #F2F2F2;
	h6{
		margin-top: 30px;
		font-size: 14px;
	    margin-bottom: 5px;
	}
	p{
		font-size: 12px;
    	margin-bottom: 10px;
	}
	input[type="button"]{
		padding: 5px;
		background-color: #CCC;
	}
}