.btn_face{
	background-color:#3b5998;
	color: white;
	font-weight: bold;
	width: 100%;
}

.btn_tw{
	// background-color:#60caef;
	background-color: #d34836;
	color: #FFFFFF;
	font-weight: bold;
	width: 100%;
	.img{
		left: 13px;
		top: 11px;
	}
}

.btn_delete{
	background-color: #d34836!important;
	color: white;
}

.btn{
	font-size: 14px;
	font-weight: 400;

	background: none;
	border: none;
	// display: block;
	text-align: center;
	padding: 10px;
	border-radius: 3px;

}
.btn_outline_gray{
	border: 1px solid @secundary_text;
	color: @secundary_text;

}

.btn_full{
	width: 100%;
	font-size: 15px!important;
	font-weight: bold!important;
}
.btn_float{
	position:fixed;bottom:15px;
	right:15px;
	font-size:22px;
	background:#E040FB;
	width:40px;
	height:40px;
	border-radius:20px;
	text-align:center;
	padding-top:5px;
	box-sizing: border-box;
	color:white;
	font-weight:600;
	z-index: 9999!important;
}
.btn-clear{
	background-color: transparent;
	font-size: 14px;
	border: none;
	font-weight: 600;
}