.input, .textarea{
	width: 100%;
	border: none;
	background-color: #F2F2F2;
	padding:10px 10px;
	outline: none;
	color: #212121;
	font-size: 12px;
	box-sizing: border-box;
}

.select{
	 -webkit-appearance: none;
}