*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.bg_accent{
	background-color: @accent!important;
	color: white;
}

.color_primary{
	color: @primary;
}
.color_delete{
	color: #D32F2F;
}

.w90{
	width: 90%;
}
.mt10{
	margin-top: 10px!important;
}
.mb10{
	margin-bottom: 10px!important;
}
.mt20{
	margin-top: 20px!important;
}
.mb20{
	margin-bottom: 20px;
}

.mt30{
	margin-top: 30px;
}
.mb30{
	margin-bottom: 30px;
}

.mt40{
	margin-top: 40px;
}
.mb40{
	margin-bottom: 40px;
}


.box_center{
	margin: 0 auto;
}

.clear{
	clear: both;
}


.left{
	float: left;
}
.right{
	float: right;
}

.visible{
	display: block!important;
}

.hidden{
	display: none!important;
}
.text-center{
	text-align: center!important;
}