.header{
	position: relative;
	text-align: center;
	background: @primary;
	padding: 15px 0px;
	color: @text;
	font-weight: 600;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	.icon_left{
		position: absolute;
		top: 16px;
		left:15px;
	}
	.icon_right{
		position: absolute;
		top: 18px;
		right: 15px;
	}
}