@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8wedb9');
  src:  url('../fonts/icomoon.eot?8wedb9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8wedb9') format('truetype'),
    url('../fonts/icomoon.woff?8wedb9') format('woff'),
    url('../fonts/icomoon.svg?8wedb9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}

.icon-notas:before {
  content: "\e901";
}

.icon-mis-datos:before {
  content: "\e902";
}
.icon-tareas:before {
  content: "\e903";
}
.icon-asistencia:before {
  content: "\e904";
}

.icon-next:before {
  content: "\e905";
}

.icon-add:before {
  content: "\e906";
  color: #fff;
}

.icon-logout:before {
  content: "\e907";
}

.icon-megafono:before {
  content: "\e908";
}

.icon-curriculum:before {
  content: "\e909";
}

.icon-reprobado:before {
  content: "\e90a";
}
.icon-warning:before {
  content: "\e90b";
}
.icon-grafica-1:before {
  content: "\e90c";
}
.icon-grafica-2:before {
  content: "\e90d";
}