ul.lista_usuario{
	li{

		padding: 5px 0px!important;
		list-style: none;
		border-bottom: 1px solid #f2f2f2;
		// background-color: blue;
		// overflow: hidden;
	}
	.img_lista{
		margin-top: 3px;
		margin-left: 10px;
		
		float: left;
		width: 70px;
		img{
			width: 50px;
			height: 50px;
			border-radius: 25px;
		}
	}

	.content_lista{
		margin-top: 10px;
		width: 70%;
		float: left;
		margin-left: 10px;
		h3{
			font-weight: 600;
			font-size: 14px;
		}
		p{
			font-size: 12px;
		}
	}

}

ul.lista{
	li{
		position: relative;
		list-style: none;
		padding: 15px 0px;
		border-bottom: 1px solid #F2F2F2;
		padding-left: 20px;
		font-size: 12px;
		color: #212121;
		font-weight: 600;
	}
	span.next{
		position: absolute;
	    top: 15px;
	    right: 15px;
	    font-size: 16px;
	    color: #757575;
	}
}

ul.list{
	li{
		position: relative;
		list-style: none;
		padding: 15px 0px;
		border-bottom: 1px solid #F2F2F2;
		padding-left: 60px;
		font-size: 14px;
		color: #212121;
		font-weight: 600;

		
		// font-family: 'Roboto', sans-serif;
		.icon{
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 32px;
			color:#757575;
		}
		.next{
			position: absolute;
			top: 15px;
			right: 15px;
			font-size: 16px;
			color:#757575;

		}
		
	}
}

ul.lista2{

	li{
		list-style: none;
		padding: 15px 0px;
		border-bottom: 1px solid #F2F2F2;
		padding-left: 20px;
		font-size: 12px;
		color: #212121;
		font-weight: 400;
		position: relative;
	}
	li.perdido{
		background-color: #E36D60;
		color: #FFF;
	}
	li.promedio{
		background-color: #448aff;
		color: #FFF;
	}
	span{
		position: absolute;
		right: 10px;
		top:18px;
	}
	p{
		font-weight: bold;
		position: absolute;
	    right: 40px;
	    top: 15px;
	}

}
