table.lista{
    border:none;
    tr:nth-child(even) {background: #F2F2F2}
    tr:nth-child(odd) {background: #FFF}

    th{
        font-size: 12px;
        padding: 3px;
    }
    td{
        padding: 5px;
        font-size: 12px;
    }
    
}